#page {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    position: relative;/*
    overflow: hidden;
*/    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#board .castle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.4;
}
/*
#charPic {
    width: 10px;
    height: 17px;
}*/

#charDesc {
    font-size: 20px;
    color: black;
    border-radius: 10px;
}

.offTop {
    margin-top: 5%;
}

.smWidth {
    max-width: 50%;
}

#colorful {
    background-color: #d3d3d3;
    max-width: 475px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

body {
    background-color: #75caeb;
}

h1 {
    margin-top: 0;
    padding-top: 1%;
}

#leader{
    width:125px;
    height: 125px;
    border-radius: 10px;
}

.sameSizeNA {
    width: 125px;
    height: 220px;
    border-radius: 10px;
}

.sameSizeA {
    width: 125px;
    height: 220px;
    border-radius: 2px;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {border-radius: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    50% {border-radius: 50px;}
}

.col-sm-3 {
    text-align: center;
}

.checkbox {
    margin-top: 1px;
    margin-bottom: 1px;
}

.row {
    margin-top: 3%;
}


#swalBut {
    display: none;
    margin-top: 50px;
}

/*
#leftSide {
    margin: 3%;
    margin-right: 1.5%;
    text-align: center;
    max-width: 400px;
}

#rightSide {
    margin: 3%;
    margin-left: 1.5%;
    text-align: center;
    max-width: 400px;
    float: right;
}*/

/*#voteFor {
    text-align: center;
    margin: 3%;
    margin-right: 1.5%;
}

#voteAgainst {
    text-align: center;
    margin: 3%;
    margin-left: 1.5%;
}*/